<div class='dashboard-wrapper'>
  <div class='content-header'>
    <h3 class='title'>Image</h3>
  </div>
  <div class='main-container' style = "padding: 60px;margin: 20px;min-height: 407px;border: 5px solid #e6e6e6;">
    <%= image_tag(@profile.product_image_url, 
    :width => "auto" , :height => "60px", :style => "background-color: black;vertical-align: middle;") %>
    <ul class='bundle-list'>
      <div class='clearfix'></div>
    </ul>
    <div class='clearfix'></div>
  </div>
</div>
