
<!DOCTYPE html>
<html>
  <head>
    <title>CRM</title>
    <meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
    <meta content='Wavespot Social WiFi Router converts your business location into an engaging social hangout with Facebook and Twitter login for free access to social wifi.' name='description'>
   
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css"/>

    <script type="text/javascript" src="https://cdn.rawgit.com/cdnjs/cdnjs/master/ajax/libs/kineticjs/4.7.2/kinetic.min.js" /></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" /></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" /></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js" /></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/hammerjs/1.0.5/jquery.hammer.js" /></script>

  
   
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>>
    
    </script>
  </head>
  <body>
    <header>
      <div class='logo'>
        
      </div>
      <div id='mini-nav'>
        <ul class='hidden-phone'>
          
          
          <li>
            <a>
              <span class='text-label'></span>
              <span aria-hidden='true' class='fs1' data-icon=''></span>
            </a>
            
          </li>
        </ul>
      </div>
      
    </header>
    <div class='container-fluid'>
      <div class='hidden-phone hidden-tablet' id='main-nav'>
      
      </div>
      
      <%= yield%>
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>
      
      
    </div>
  </body>
</html>
