
<!DOCTYPE html>
<html>
  <head>
    <title>CRM</title>
    <meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
    <meta content='Wavespot Social WiFi Router converts your business location into an engaging social hangout with Facebook and Twitter login for free access to social wifi.' name='description'>
   
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" />
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js" />

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>>
    
    </script>
  </head>
  <body>
    <header>
      <div class='logo'>
        
      </div>
      <div id='mini-nav'>
        <ul class='hidden-phone'>
          
          
          <li>
            <a>
              <span class='text-label'></span>
              <span aria-hidden='true' class='fs1' data-icon=''></span>
            </a>
            <ul class='user-summary'>
              
              <li>
                <a href="/profile"><div class="icon"><span aria-hidden="true" class="fs1" data-icon=""></span> Profile</div> </a>
              </li>
              <li>
                <a href="/settings"><div class="icon"><span aria-hidden="true" class="fs1" data-icon=""></span> Account Settings</div></a>
              </li>
              <li>
                <a href="/clients/sign_out" data-method="delete" rel="nofollow"><div class="icon"><span aria-hidden="true" class="fs1" data-icon=""></span> Logout</div></a>
                <span class='clearfix'></span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      
    </header>
    <div class='container-fluid'>
      <div class='hidden-phone hidden-tablet' id='main-nav'>
      <div id="box" class="draggable drag-drop"> #no-drop </div>
        <!-- <ul>
          <li class='active dashboard sidenav'>
            <a href='/home'>
              <div class='icon'>
                <span aria-hidden='true' class='fs1' data-icon=''></span>
              </div>
              Dashboard
            </a>
          </li>
          <li class='sidenav bundles'>
            <a href='/campaigns'>
              <div class='icon'>
                <span aria-hidden='true' class='fs1' data-icon=''></span>
              </div>
              Email Campaigns
            </a>
          </li>
          <li class='sidenav lists'>
            <a href='/lists'>
              <div class='icon'>
                <span aria-hidden='true' class='fs1' data-icon=''></span>
              </div>
              Lists
            </a>
          </li>
          <li class='sidenav templates'>
            <a href='/templates'>
              <div class='icon'>
                <span aria-hidden='true' class='fs1' data-icon=''></span>
              </div>
              Email templates
            </a>
          </li>
          <li class='sidenav layouts'>
            <a href='/coupons'>
              <div class='icon'>
                <span aria-hidden='true' class='fs1' data-icon=''></span>
              </div>
              WiFi marketing
            </a>
          </li>
          <li class='sidenav layouts'>
            <a href='/coupon_templates'>
              <div class='icon'>
                <span aria-hidden='true' class='fs1' data-icon=''></span>
              </div>
              Marketing Templates
            </a>
          </li>
          <li class='sidenav layouts'>
            <a href='/pos'>
              <div class='icon'>
                <span aria-hidden='true' class='fs1' data-icon=''></span>
              </div>
              Pos
            </a>
          </li>
        </ul> -->
        <div class='clearfix'></div>
      </div>
      
      <%= yield%>
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>
      
      
    </div>
  </body>
</html>
